img{
    width: 250px;
}
:root {
  --main-bg: #faf6ec;
}

body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--main-bg);
    background-image: linear-gradient(180deg, var(--main-bg), #bdddfe);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    background: #FFFFFF;
    margin:20px;
    padding: 30px;
}


.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  background: var(--main-bg);
  flex-wrap: wrap;
}

.container {
    padding:10px;
    border: 2px solid black;
    text-align: center;
}

.about {
    background: #f0efeb;
}

.projects {
    background: #d6e2e9;
}

.hackclub {
    background: #bcd4e6;
    /* border: 5px solid thin; */
}

.email {
    background: #99c1de;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-bg);
    padding: 10px;
    border-top: 1px solid black;
}

.catto {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 20px;
    font-size: 50px;
}